<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'template_meta.html' %}
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="header-box">
				<div class="header-items">
					{% include 'template_nav.html' %}
				</div>
			</div>
		</div>
		<div class="content">
			<div class="block-split">
				<div class="block-items block" style="min-height: unset;">
					<h2>Edit Category</h2>
					<form class="reg" action="/action/category?t=edit" method="post">
						<div class="editor-aa">
							<input type="hidden" id="item_id" name="item_id" value="{{ item['id'] }}">
							<label for="item_name">Name</label>
							<input type="text" id="item_name" name="item_name" value="{{ item['name'] }}"><br>
						</div>
						<input class="button logbutt" type="submit" value="Update Category"><button type="button" onclick='window.location.href = "/category/edit?id={{ item["id"] }}&action=delete"' style="margin-left: 10px;" class="button logbutt">Delete Category</button>
					</form>
					{% with messages = get_flashed_messages(category_filter=['categories']) %}
					{% if messages %}
					<div class="editor-errors logbutt">
						<p>There's some problems:</p>
						<ul>
							{% for message in messages %}
							<li>{{message}}</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% endwith %}
				</div>
			</div>
		</div>
		<div class="content">
			<div class="block-split">
				<div class="block-items block" style="min-height: unset;">
					<h2>Items in {{ cat.name }}</h2>
					<div class="items-box">
						<div class="item-instance">
							<img src="{{ url_for('static', filename='img/item.png') }}" alt="Item">
							<h3>Item</h3>
						</div>
						<div class="item-instance">
							<img src="{{ url_for('static', filename='img/item.png') }}" alt="Item">
							<h3>Item Thinga A Thing</h3>
						</div>
						<div class="item-instance">
							<img src="{{ url_for('static', filename='img/item.png') }}" alt="Item">
							<h3>Something Interesting Should Get A New</h3>
						</div>
						<div class="item-instance">
							<img src="{{ url_for('static', filename='img/item.png') }}" alt="Item">
							<h3>Item</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>