<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'template_meta.html' %}
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="header-box">
				<div class="header-items">
					{% include 'template_nav.html' %}
				</div>
			</div>
		</div>
		<div class="content">
			<div class="block-split">
				<div class="block-items block" style="min-height: unset;">
					<h2>Zachary Tabikh</h2>
					<p class="about-user"><strong>Date Joined:</strong> XX/XX/XX</p>
					<p>This user is not a seller. Please check another time.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>