<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'template_meta.html' %}
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="header-box">
				<div class="header-items">
					{% include 'template_nav.html' %}
				</div>
			</div>
		</div>
		<div class="content">
			<div class="block-split">
				<div class="block-items block" style="min-height: unset;">
					<div class="edit-split">
						<div class="edit-left">
							<img src="{{ url_for('static', filename='img/item.png') }}" alt="Item">
						</div>
						<div class="edit-right">
							<h2>Edit Product</h2>
							<form class="reg" action="/" method="post" enctype="multipart/form-data">
								<div class="editor-aa">
									<label for="item_name">Name</label>
									<input type="text" id="item_name" name="item_name"><br>
								</div>
								<div class="editor-aa">
									<label for="item_cat">Category</label>
									<select name="item_cat">
										<option value="0">Item 1</option>
										<option value="1">Item 2</option>
									</select><br>
								</div>
								<div class="editor-aa">
									<label for="item_desc">Description</label>
									<textarea id="item_desc" name="item_desc" rows="4">Blah Balh</textarea>
								</div>
								<input class="button logbutt" type="submit" value="Update Item"><button style="margin-left: 10px;" class="button logbutt">Delete Item</button>
							</form>
						</div>
					</div>
					{% with messages = get_flashed_messages(category_filter=['items']) %}
					{% if messages %}
					<div class="editor-errors logbutt">
						<p>There's some problems:</p>
						<ul>
							{% for message in messages %}
							<li>{{message}}</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% endwith %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>